body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: AliceBlue; 
    color: black;
    padding: 3px;
}

#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    border-radius: 0 0 5px 5px;
}

h2 { 
    text-align: center;
}

p{ 
    text-align: center;
}

#form {
    text-align: center;
}

ul#menu {
    margin: auto;
    width: auto;
    padding: 10px;
    margin-bottom: 11px;
}

ul#menu li {
    display: inline;
    margin-right: 3px;
    
}

ul#menu li a {
    background-color: AliceBlue;
    padding: 10px 40px;
    text-decoration: none;
    color: #696969;
    border-radius: 20px 20px 20px 20px;
}

ul#menu li a:hover {
    color: white;
    background-color: DarkBlue;
}
